@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;
}

img {
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    transition: .5s linear;
    background: var(--text-color);
}

.logo img {
    width: 60px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s;
}

.navbar a:hover {
    background: var(--main-color);
    border-radius: .2rem;
}

.header-icon {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

header box-icon {
    fill: #fff;
    transition: .3s;
    cursor: pointer;
}

header box-icon:hover {
    fill: var(--main-color);
}

#menu-icon {
    display: none;
}

.search-box {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg-color);
    width: 100%;
}

.search-box input {
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}

.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}





















